<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyClM_q1xa0TQrzi5cs21bsG2Aas8i4abto</string>
	<key>GCM_SENDER_ID</key>
	<string>209877987659</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ravisoni.zlistreport1</string>
	<key>PROJECT_ID</key>
	<string>listreportswift</string>
	<key>STORAGE_BUCKET</key>
	<string>listreportswift.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:209877987659:ios:e1531a04a01f025179b8ce</string>
</dict>
</plist>